<section id="about-us-wrap" class="team-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-header mb-5">
                <h2 class="font-weight-bold">About Us</h2>
                <p>NATDYES is a company whose head office is located in the Monastir technopole  (MFC Pôle Tunisie). 
                    NATDYES is a company that has immersed from the university after more than <b> twenty years of research and development</b>  in the fields of <b>natural dyes and  textile dyeing</b>  and in the fields of valorization of natural, agricultural and food industry wastes. 
                    The various developments have been carried out in <b>collaboration with the  industries</b>  of the various industrial sectors involved, particularly the <b> textile</b>.</p>

            </div>
        </div>
    </div>
</section>