<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">


            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class="">
                        <h4 class="card-title font-weight-bold">Samai</h4>
                        <p class="">Samai es Transformación Digital a medida para las necesidades de su empresa. </p>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class=" ">
                        <h4 class="card-title font-weight-bold">Otras Secciones</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a href="www.samai.cl">Marketing</a></li>
                                <li class=" mb-3 "><a href="#">Demo</a>
                                </li>
                                <li class="mb-3"> <a href="#">Brochure Digital</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Awesome Features</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Minimal</li>
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Intuitive</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Super Flexible</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Info Contacto</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>Antofagasta, Chile</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>contacto@samai.cl</li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +56 9 77661027</li>

                            </ul>
                        </div>


                        <section class="social-wrap ">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0" href="#"><i class="eva eva-facebook"></i></a>

                                <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
