<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">


            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Nuestras Cualidades</h2>
                <p>6 principios para desarrollar soluciones a medida de cada cliente.</p>

            </div>


            <div class="col-md-6 col-lg-6 col-sm-12 mb-4 mb-lg-0" animateOnScroll animationName="animated fadeIn">
                <div class="row">



                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-clock-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Ahorrar Tiempo</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-arrow-downward-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Reducir Costos</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 ">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-bulb-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Inteligencia Artificial</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-lock-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Cyber Seguridad</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-cloud-download-outline text-30"></i>
                                <h4 class="card-title pt-2 text-16">Soluciones Cloud</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-bell-outline text-30 text-gradient"></i>
                                <h4 class="card-title pt-2 text-16">Siempre Atentos</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col-6 -->
            <div class="col-md-6 col-lg-5 col-sm-12 offset-lg-1 d-flex align-items-center">

                <img src="./assets/images/landing/svg/features2.svg" class="img-responsive w-100" alt="">

            </div>

        </div>
    </div>
</section>
